<div class="container mt-5 pb-5">
    <h1 class="mb-5 text-center">Contactanos</h1>
    <div class="row">
        <div class="col-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15907.226026948369!2d-74.0763763741577!3d4.628583322883549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9987d0f4784f%3A0x1dcb7ccc58710aa5!2sParque%20Nacional%20Enrique%20Olaya%20Herrera!5e0!3m2!1ses!2sco!4v1675471341118!5m2!1ses!2sco"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-5 offset-1">
            <form>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Nombres</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Correo</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Telefono</label>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>Seleccione uno...</option>
                        <option value="1">Bogota</option>
                        <option value="2">Cali</option>
                        <option value="3">Medellin</option>
                        <option value="4">Barranquilla</option>
                    </select>
                    <label for="floatingSelect">Ciudad</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Dejanos tu mensaje</label>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="button">
                        <div class="svg-wrapper-1">
                            <div class="svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path fill="currentColor"
                                        d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <span>Enviar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>