<section class="bg-warning">
    <h6 class="text-center m-0 py-2">Gran promocion de san valentin ❤️</h6>
</section>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Pantuflitas SAS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fw-bold text-white" routerLink="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold text-white" routerLink="/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold text-white" routerLink="/contactenos">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>